<h1>Congratulations!</h1>
<p>Your website, "<%= @website_request.business_type %>", has been generated successfully.</p>
<p>You can preview it here:</p>
<p><%= link_to "Preview Website", generated_website_url(@website.subdomain) %></p>
<p>Next steps will involve downloading and deploying your site.</p>